################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Engine/v17/ipch/AutoPCH
/.vs/Engine/v17
/Engine/x64/Debug
/x64/Debug
/.vs/Engine/FileContentIndex
/.vs
/NewEngine/Debug
/NewEngine/x64/Debug
/packages/directxtk_desktop_win10.2022.7.30.1
/Debug
